<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <title>GlobalForms</title>
    <meta name="viewport" content="width=device-width">
    <script src="https://rawgit.com/dankogai/js-base64/master/base64.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--
    <script src="http://www.sigplusweb.com/SigWebTablet.js"></script>
    -->

    <!-- Favicons -->
    <link rel="icon" type="image/ico" href="assets/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="assets/favicons/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script>
        var query = {};
        location.hash.substr(1).replace(/\?/g, '&').split("&").forEach(function(item) {
            query[item.split("=")[0]] = item.split("=")[1] && decodeURIComponent(item.split("=")[1]);
        });
        if (query.theme) {
            var cssLink = '<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/';
            cssLink += query.theme;
            cssLink += '/bootstrap.min.css" />';
            document.write(cssLink);
        }
        else {
            document.write('<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />');
        }

        // Allow them to provide their own stylesheets.
        if (query.styles) {
            var styles = Base64.decode(query.styles);
            if (styles && styles.length) {
                document.write('<link rel="stylesheet" href="' + styles + '" />');
            }
        }
    </script>
    <style type="text/css">
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <link rel="stylesheet" href="formio-full.css" />
</head>
<body ng-app="formioFormApp">
<script id="header" type="text/template">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="collapse navbar-collapse">
                <p class="navbar-brand navbar-left"><img src="assets/square9-logo.svg" style="height: 50px; padding: 0 0 16px 0"   title="{{ version }}"></p>
                <p class="navbar-brand navbar-left"><img src="assets/GlobalForms.svg"  style="height: 50px; padding: 6px 0 14px 0" title="{{ version }}"></p>
                <p class="navbar-brand"              style="padding: 24px 0 0 30%" ng-cloak>{{ form.title }}</p>
                <a class="navbar-brand navbar-right" style="padding: 24px 0 0 0"   ng-cloak ng-if="user !== ''" href="#" ng-click="logout($event)"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logout {{ user }}</a>
                <p class="navbar-brand navbar-right" style="padding: 24px 0 0 0"   ng-cloak ng-if="user === ''">Not logged in</p>
            </div>
        </div>
    </nav>
</script>
<script>
    var bodyClass = '';
    if (!query.header || parseInt(query.header, 10)) {
        document.write(document.getElementById('header').innerHTML);
        bodyClass += 'hasheader ';
    }
    if (query.iframe && parseInt(query.iframe, 10)) {
        bodyClass += 'iframe ';
        if (!query.theme) {
            bodyClass += 'notheme ';
        }
    }
    if (bodyClass) {
        document.body.className = bodyClass;
    }

    // So page loads for different forms or submissions
    window.onhashchange = function(event) {
        window.location.reload(true);
    };
</script>

<!-- BROWSE HAPPY BEGINS HERE -->
<style>
    .browsehappy {
        display:block;
        width:100%;
        height:100px;
        background-color:#f2dede;
        margin: 0 0 10px;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 22px;
        line-height: 1.4;
        color: #333;
        padding-top: 15px;
        vertical-align:middle;
    }
    .hasheader .browsehappy {
        margin-top: 50px;
    }
    .browsehappy span {
        vertical-align:middle;
        margin:20px 20px 20px 20px;
        background:url("https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png") no-repeat;
        height:64px;
        width:64px;
        display:inline-block;
    }

    .main {
        margin-top: 4px;
    }

    .iframe.notheme {
        background-color: transparent;
    }
    .iframe .main {
        margin:0;
        padding:0;
        width: 100%;
    }
    .iframe .navbar .container {
        margin:0;
        width: 100%;
    }
    .navbar .container .navbar-right {
        margin-right: 0;
    }

    .navbar {
        margin-bottom: 0px;
    }

    .formio-submission {
        margin-top: 34px;
    }

    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
        display: none !important;
    }
</style>
<!--[if IE 6]><p class="browsehappy"><img />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 7]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 8]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!--[if IE 9]><p class="browsehappy"><img src="https://cdn.rawgit.com/alrra/browser-logos/master/internet-explorer/internet-explorer_64x64.png" />You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->
<!-- BROWSE HAPPY ENDS HERE -->

<!-- Add the form.io form. -->
<div class="container-fluid main">
    <div ng-cloak>
        <div class="alert alert-danger" ng-if="formError">{{ formError }}</div>
        <div ng-if="formValidate">
            <a ng-if="pdfButton && hasSubmission" type="button" ng-click="generatePDF()" style="float:right;cursor:pointer;margin-top:-32px"><img src="assets/download-pdf.png" style="height:30px" /> {{ 'Generate PDF' | formioTranslate }}</a>
            <formio src="formioSrc" submission="submission" ng-class="{'formio-submission': hasSubmission}"></formio>
        </div>
        <div ng-if="!formValidate" style="margin-top: 20px;">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h1 class="panel-title"><strong>Please login to view submission</strong></h1>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <formio src="login"></formio>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src ="https://cdn.jsdelivr.net/lodash/4.16.6/lodash.js"></script>
<script  src="formio-full.js"></script>
<script src="//unpkg.com/seamless@0.0.6/build/seamless.child.min.js"></script>
<script src="//cdn.rawgit.com/MrRio/jsPDF/master/dist/jspdf.min.js"></script>
<script src="//cdn.rawgit.com/niklasvh/html2canvas/0.5.0-alpha2/dist/html2canvas.min.js"></script>
<script type="text/javascript">
    var parentPage = jQuery.seamless.connect({
        container: 'div.main'
    });
    angular.module('formioFormApp', ['formio'])
        .run([
            '$rootScope',
            '$location',
            'Formio',
            '$controller',
            function(
                    $rootScope,
                    $location,
                    Formio,
                    $controller
            ) {
                var protocol  = $location.protocol();
                var host      = $location.host();
                var port      = $location.port();
                var path      = $location.path();
                var query     = $location.search();
                var baseUrl   = protocol + '://' + host;
                var returnUrl = query.return;
                var form      = query.form;
                var pdfName;

                $rootScope.login        = '';
                $rootScope.formError    = '';
                $rootScope.formioSrc    = '';
                $rootScope.formValidate = true;
                $rootScope.submission   = {data: {}};
                $rootScope.pdfButton    = query.pdfbutton;
                $rootScope.user         = Formio.getUser() ? Formio.getUser().data.name : '';

                if (port)
                  baseUrl += ':' + port;

                Formio.setBaseUrl(baseUrl);

                // Get anonymous role id for login required check when form loads
                var accessPromise = Formio.makeStaticRequest(Formio.getApiUrl() + '/access');

                // Get version
                Formio.makeStaticRequest(Formio.getApiUrl() + '/version', 'GET', null, {ignoreCache: true}).then(function (result) {
                  $rootScope.version = result;
                });

                if (!path && !form) { return; }
                if ( path && !form) {
                    form = baseUrl + path;

                    if (query['x-jwt-token']) {
                      Formio.setUser(null);
                      Formio.setToken(query['x-jwt-token']);
                      form += '?x-jwt-token=' + query['x-jwt-token'];
                    }

                    if (!$rootScope.login) {
                        $rootScope.login  = baseUrl + '/';
                        $rootScope.login += query.login ? query.login : 'user/login';
                    }
                }

                // Ensure we have a login form.
                if (!$rootScope.login) {
                    $rootScope.login = query.login || baseUrl + '/user/login';
                }

                // Set the form on the rootScope.
                $rootScope.formioSrc = form;

                // Bind when the form is loaded.
                $rootScope.$on('formLoad', function(err, form) {
                    // Show form title in page tab
                    window.document.title = form.title;

                    // Update logged in user
                    $rootScope.user = Formio.getUser() ? Formio.getUser().data.name : '';

                    // Require login if anonymous reading or creation not allowed
                    if (!$rootScope.user && form.path != 'user/login') {
                        accessPromise.then(function(access) {
                            var submission = new RegExp('/submission/').test(path);
                            var permission = submission ? 'read_all' : 'create_own';
                            var anonymous  = access.roles.anonymous._id;

                            // Assume the worst
                            $rootScope.formValidate = false;

                            angular.forEach(form.submissionAccess, function(submissionAccess) {
                                if (submissionAccess.type === permission
                                &&  submissionAccess.roles.indexOf(anonymous) !== -1) {
                                    $rootScope.formValidate = true;
                                }
                            });
                        });
                    }

                    $rootScope.form = form;
                    if (
                        $rootScope.form.settings &&
                        $rootScope.form.settings.controller
                    ) {
                        try {
                            var controller = eval($rootScope.form.settings.controller);
                            if (controller) {
                                $controller(controller, {$scope: $rootScope});
                            }
                        }
                        catch (err) {
                            console.log(err.message);
                        }
                    }
                });

                $rootScope.$on('submissionLoad', function(event, submission) {
                    // Check for substring 'submission' to enable the download pdf button.
                    var checkSubmissionURL = new RegExp("/submission/");
                    pdfName = submission._id;
                    $rootScope.hasSubmission = checkSubmissionURL.test(form);
                //  $rootScope.formValidate = !!Formio.getToken();
                });

                $rootScope.$on('formError', function(event, error) {
                    if (typeof error === 'string') {
                      $rootScope.formError = error;
                    }
                    if (error.indexOf('Unauthorized' )===0
                    ||  error.indexOf('Login Timeout')===0) {
                        $rootScope.formValidate = false;
                        Formio.setUser(null);
                    }
                });

                // Bind to the submission of the form.
                $rootScope.$on('formSubmission', function(event, submission) {
                    // Disable the download pdf button for those submission which created from viewer application.
                    $rootScope.hasSubmission = false;
                    $rootScope.formError = '';
                    if (!$rootScope.formValidate) {
                        $rootScope.formValidate = !!Formio.getToken();
                    }
                    if (!submission) { return; }
                    parentPage.send({formSubmission: submission});

                    //  Optional clear inputs on submission
                    if ($location.search().clearonsubmit) {
                        $rootScope.submission = {data: {}};
                        event.targetScope.$$childHead.formioForm.$setPristine();
                        $rootScope.$broadcast('clearComponent');
                    }

                    //  Redirect to any returnUrl specified by Submit button script
                    if ($rootScope.form.returnUrl) {
                        returnUrl = $rootScope.form.returnUrl;
                    }

                    if (returnUrl && $rootScope.form.path !== 'user/login') {
                        window.location.href = returnUrl;
                    }
                //  else {
                //      if (window.location.href.search(/\/submission\//) === -1) {
                //          window.location.href += '/submission/' + submission._id;
                //      }
                //      setTimeout(function() {
                //          window.location.reload(true);
                //      }, 1000);
                //  }
                });

                $rootScope.logout = function(event) {
                    event.preventDefault();
                    Formio.logout();
                    setTimeout(function() {
                      window.location.reload(true);
                   }, 1000);
                };

                $rootScope.generatePDF = function () {
                    var doc = new jsPDF({unit:'px', format:'a4'});
                    var formElement = jQuery('form[name="formioForm"]');
                    var formTop = formElement.offset().top;
                    var formWidth = formElement.width();
                    var a4 = [595.28,  841.89];
                    var a4Width = (a4[0]*1.33333);
                    var a4Height = (a4[1]*1.33333);
                    formElement.width(a4Width-80).css('max-width','none');

                    var imgWidth = doc.internal.pageSize.width - 20;
                    var pageHeight = doc.internal.pageSize.height;
                    var formChildren = formElement.children();
                    var numberOfChild = formChildren.length;
                    var pageNum = 1;
                    for (var i=0; i< numberOfChild - 1; i++) {
                        var childElement = formChildren.eq(i);
                        var childElementTop = childElement.offset().top - formTop;
                        var childElementHeight = childElement.outerHeight(true);
                        var pageSpace = (pageNum * a4Height) - childElementTop;
                        if ((pageSpace > 0) && (childElementHeight > pageSpace)) {
                            childElement.css('marginTop', (pageSpace + 10) + 'px');
                            pageNum++;
                        }
                    }

                    html2canvas(formElement, {
                        imageTimeout: 2000,
                        removeContainer: true
                    }).then(function(canvas){
                        var img = canvas.toDataURL("image/png");
                        var imgHeight = canvas.height * imgWidth / canvas.width;
                        var heightLeft = imgHeight;
                        var position = 10;
                        doc.addImage(img, 'PNG', 10, position, imgWidth, imgHeight);
                        heightLeft -= pageHeight;
                        while (heightLeft >= 0) {
                            position = heightLeft - imgHeight;
                            doc.addPage();
                            doc.addImage(img, 'PNG', 10, position, imgWidth, imgHeight);
                            heightLeft -= pageHeight;
                        }
                        doc.save(pdfName + '.pdf');
                        formElement.width(formWidth);
                    });
                };
            }]);
</script>
</body>
</html>
